<div class="header">
    <div class="row-head">
        <div class="logo">
            <img src="../../../../assets/Images/education.svg" class="image">
        </div>
        <span routerLink="/booklist" class="bookstore">Bookstore</span>
        <form>
            <input *ngIf="fullDisplay"   [(ngModel)]="bookName" class="search" type="text" placeholder="Search..." name="search">
        </form>
        
        <div *ngIf="fullDisplay" routerLink="/cart" class="cart">
            <mat-icon>shopping_cart</mat-icon>
            <span class="label">Cart</span>
        </div>
    </div>
</div>