<app-header></app-header>
<div class="main-header">
    <div class="main-content">
        <div class="book">
            <label class="books">Books</label>
            <div class="book-count">({{bookDetails.length}} items)</div>
            <div class="checkbox">
                <button mat-button [matMenuTriggerFor]="menu">Sort by relevance</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="sort-option" (click)="sortByPriceLowToHigh()">Price:Low to High</button>
                    <button mat-menu-item class="sort-option" (click)="sortByPriceHighToLow()">Price:High to Low</button>
                    <button mat-menu-item class="sort-option">Newest Arrivals</button>
                </mat-menu>
            </div>
        </div>
        <div class="book-all">
            <div class="book-card" *ngFor="let book of bookDetails">
                <div class="all-books" (click)="goToBookDetails(book.bookId)">
                    <div>
                        <img src="../../../../assets/Images/{{book.logo}}">
                    </div>
                    <div class="book-details">
                        <div class="details">
                            <mat-label class="book-name">{{book.bookName}}</mat-label>

                            <mat-label class="author">{{book.bookAuthor}}</mat-label>
                             <mat-label class="book-name" >Rs {{book.bookPrice}}</mat-label>
                              
                             <div class="example-button-row">
                              <button  (click)="addToCart( book.bookId)" style=" background-color: rgb(136, 10, 5); margin-right: 15px;"mat-flat-button>ADD TO BAG</button>
                              
                              <button  style="border: 1px solid #e0d6d6;
                              outline: none;
                              width: 83px;
                              height: 35px;
                              background-color: white;
                              border-radius: 3px;">WISHLIST</button>
                              
                              
                           
                            </div> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 