<!-- <div class="container"> -->
    <app-header></app-header>
    <div>
        <img class="image" src="../assets/Images/success.jpeg" alt="">
    </div>
    <div class="text">
        Hurray!!! Your order is confirmed <br> The order id is #123456 save the order id for further communication..
    </div>
    <table>
        <thead>
            <th>Email Us</th>
            <th>Contact Us</th>
            <th>Address</th>
        </thead>
        <tbody>
            <td>bridgelabz@gmail.com</td>
            <td>+91 9999999999</td>
            <td>
                42, 14th Main, 15th Cross, Sector 4,<br> opp to BDA complex,HSR Layout, Bangalore 560034
            </td>
        </tbody>
    </table>
    <button mat-button class="button" routerLink="/dashboard">
      <div class="button-text">
         Continue Shopping
      </div>
   </button>
    <app-footer></app-footer>
<!-- </div> -->