<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>User Registration</h1>
                    <h5> </h5>
                    <hr>
                </div>
                <form [formGroup]="bookStoreFormGroup" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="name" class="form-control" id="exampleInputName"
                        placeholder="Enter Name" formControlName="name" >

                    </div>

                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="number" class="form-control" id="mobile"
                        placeholder="Enter Mobile Number" formControlName="mobileNumber">

                    </div>



                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" id="email"
                        placeholder="Enter Email" formControlName="email">

                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="password"
                        placeholder="Password" formControlName="password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a routerLink="/login"> Already Registred ? Click to login !!</a>
            </div>
        </div>
    </div>
</div>