<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>User Registration</h1>
                    <h5>Feel Free to register</h5>
                    <hr>
                </div>
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="name" class="form-control" id="exampleInputName"
                        placeholder="Enter Name">

                    </div>

                    <div class="form-group">
                        <label>Mobile Number</label>
                        <input type="number" class="form-control" id="exampleInputEmail1"
                        placeholder="Enter Mobile Number">

                    </div>



                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                        placeholder="Enter Email">

                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                        placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a routerLink="/login"> Already Registred ? Click to login !!</a>
            </div>
        </div>
    </div>
</div>